.main-grid {
  width: 60%;
  max-width: 600px;
  height: 850px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 2fr 1fr 1fr 4fr 1fr;
  border: 3px solid black;
  border-radius: 16px;
  margin: 32px auto 0 auto;
}

.header {
  grid-area: 1 / 1 / span 1 / -1;
  font-family: 'Open-Sans', sans-serif;
}

.title {
  font-weight: 600;
  font-size: 24px;
}

.main-text {
  font-style: italic;
  font-weight: 400;
  opacity: 0.8;
}

#search {
  grid-area: 2 / 1 / span 1 / -1;
}

#info {
  grid-area: 3 / 1 / span 1 / -1;
}

#movies {
  grid-area: 4 / 1 / span 1 / span 1;
}

#added-movies {
  grid-area: 4 / 2 / span 1 / span 1;
}

.movie-container {
  border: 2px solid black;
  border-radius: 10px;
  margin: 0 12px;
  height: 500px;
  overflow: auto;
}

#submit {
  background-color: black;
  color: white;
  align-self: center;
  justify-self: center;
  grid-area: 5 / 1 / span 1 / span 2;
}